extends menu
mixin draw
	img.img2(src="css-probely.png")
	img.img3(src="css-text.png")
	img.img4(src="css-text-decoration.png")
	
block append menu
block body
		p Создать страницу «CSS шрифт», применив макет, приведенный на рисунке 3, на рисунке 4 приведен результат (для больших и маленьких экранов). Для реализации необходимо использовать «гибкий» дизайн. В соответствии с этим макетом в центральный блок необходимо вывести три картинки в один ряд, а затем два текстовых блока. Структура страницы, кроме центрального блока, полностью повторяет страницу CSS
		span.grid-content
			+draw
			p.text_2 Основным понятием CSS является стиль – т. е. набор правил оформления и форматирования, который может быть  применен к различным элементам страницы. Для присвоения какому-либо элементу определенных характеристик необходимо  один раз описать этот элемент и определить это описание как стиль, а в дальнейшем просто указывать, что элемент получить свойства выбранного стиля.
			p.text_3 Страница должна иметь блочную структуру, которая включает центральный блок. Этот блок состоит из меню, расположенного в его верхней части, и области для размещения текстовой и графической информации. Структура страницы приведена на рисунке 1. На рисунке 2 приведена реализованная страница (видео вставить любое, текст и рисунки прикреплены к лабораторной работе в BlackBoard).